main {
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package {
    width: 80%;
    border: 4px solid #0e4f1f;
    border-left: none;
    margin: 1rem 0;
    position: relative;
    overflow: hidden;  /* este comando esconde tudo que passa do pacote (tarja 'Recommended)*/
} 
/*.package:hover, .package:active, #free:hover,  #free:active */
/*Evitar reescrever atributos (free hover e free active) e também usar important = evitar usar*/
.package:hover, .package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454 !important;
    animation: push-up 1s ease-out forwards;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
 }

 .package__badge {
     position: absolute;
     top: 0;
     right: 0px;
     margin: 0;
     font-size: 0.8rem;
     color: white;
     background: #ff5454;
     padding: 0.5rem;
     transform: rotateZ(45deg) translate(3.5rem, -1rem);  /* 1º valor = eixo x e 2º valor = eixo y) */
     transform-origin: center;
     width: 12rem;
     text-align: center;
 } 
 
.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 1rem;
    border: 1px solid #0e4f1f;
    color: #0e4f1f;
    background: white;
    font-size: 1.25rem;
    /*short hand(font size): font: italic small-caps 700 1.2rem/2 "AnonymusPro", sans-serif;
                                   font-style font-variant font-weight font-size/line-height font-family*/
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    border-left: 4px solid #0e4f1f;
    float: right;
    border-right: none;
    text-align: right;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

@media (min-width:40rem) {
    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width:1500px) {
    .package {
        border-left: 4px solid #0e4f1f;
    }
    #free {
        border-right: 4px solid #0e4f1f;
    }
    #free:hover,
    #free:active {
        border-right-color: #ff5454;
    }
}

@keyframes push-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5rem);
    }
    100% {
        transform: translateY(-1rem);
    } /*Ao passar o mous,e no pacote, sobe na tela variando de 0 a 1-1rem (Negativo=subir; Positivo=descer) */
}