.container {
    background: #b7bebc;
    color: white;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 25% 75%; 
    grid-template-rows: 1fr 6fr 1fr; /* outra opção neste caso de 3 linhas pode ser: 2rem auto 2rem */
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    grid-template-areas: "header header"
                         "aside main"
                         "footer footer";
}

header {
    background: #747272;
    /*grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-area: header;
}

aside {
    background: #747272;
 /*   grid-column-start: 1;
    grid-column-end: 2;  
    grid-row-start: 2;
    grid-row-end: 3;                   ASIDE e MAIN já estão declarados, logo são DEFAULT*/
    padding: 70px;
    margin: 10px 10px 10px 0;
    grid-area: aside;
}

main {
    background: #747272;
 /*   grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;                   ASIDE e MAIN já estão declarados, logo são DEFAULT*/
    padding: 70px;
    margin: 10px 0;
    grid-area: main;
}

footer {
    background: #747272;
    /*grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;  */
    grid-area: footer;
    padding: 20px;
}

.flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}